* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
h2 {
  color: green;
  text-align: center;
  padding: 20px;
}
.nav {
  font-size: 15px;
  background-color: lime;
  display: grid;
  text-align: center;
}
.nav ul {
  list-style-type: none;
}
.nav ul a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: #000;
  transition: 0.2s ease-in;
  font-size: 20px;
}
.nav ul a:hover {
  background-color: green;
  color: white;
}

.items {
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 20px;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}
.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s ease;
}
.item img:hover {
  transform: scale(1.04);
}

.item h4 {
  padding: 5px;
  text-align: center;
}

.item a {
  padding: 5px 30px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
  /* outline: none; */
  border-radius: 4px;
  font-size: 20px;
  display: block;
  text-align: center;
  margin: 0 auto;
  transition: 0.2 all;
}

.item a:hover {
  transform: scale(1.05);
}

/* Footer */
.footer {
  padding: 4rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

/* .logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
} */

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
  margin: 10px;
}

.footer-heading {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1rem;
  color: #767676;
  transition: all 0.3s;
}

/* .footer-link:hover,
.footer-link:active {
  color: #555;
} */

/* Responsive */
@media screen and (max-width: 1000px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 786px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
  }
}
