* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
h2 {
  color: green;
  text-align: center;
  padding: 20px;
}
.nav {
  font-size: 15px;
  background-color: lime;
  display: grid;
  text-align: center;
}
.nav ul {
  list-style-type: none;
}
.nav ul a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: #000;
  transition: 0.2s ease-in;
  font-size: 20px;
}
.nav ul a:hover {
  background-color: green;
  color: white;
}
/* img {
  width: 100%;
  height: 50%;
} */
.items {
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 20px;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}
.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s ease;
}
.item img:hover {
  transform: scale(1.04);
}

.item h4 {
  padding: 5px;
  text-align: center;
}

.item a {
  padding: 5px 30px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
  /* outline: none; */
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  transition: 0.2 all;
}

.item a:hover {
  transform: scale(1.05);
}
